<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" [style.display]="isSidebarCollapsed ? 'none' : 'block'">
    nzCollapsible
    nzWidth="386px"
    nzBreakpoint="md"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://potan.co" target="_blank">
        <h1>Potan</h1>
      </a>
    </div>
    <ul nz-menu [nzTheme]="darkMode ? 'dark' : 'light'" nzMode="inline">
      <ul>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/welcome">Main</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a>Users</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a>Settings</a>
        </li>
      </ul>
      <ul>
        <li nz-menu-item nzMatchRouter>
          <a>Notifications</a>
        </li>
      </ul>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isSidebarCollapsed=!isSidebarCollapsed" [style.opacity]="isLoggedIn ? 1 : 0">
            <i class="trigger"
               nz-icon
               [nzType]="isSidebarCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
        <div class="search-area">
          <input type="text" id="search-bar" name="search-bar" placeholder="SEARCH"/>
          <button>Go</button>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

